<%- include('header') %>

<main class="container-fluid mt-4">
  <div class="banner">
    <img src="images/banner1.jpg" alt="Banner Image" class="banner-image" max-width="100%">
    <div class="banner-content">
      <div class="banner-text">
        <h1>REACH YOUR BEST</h1>
        <p>Achieve your fitness goals with ease. Track workouts, monitor progress, and stay motivated on your journey to a healthier lifestyle. Let's flex together!!</p>
        <a href="#" class="btn btn-primary">Sign Up</a>
        <span>
          Already a member?
          <a href="/login">Log In</a>
        </span>

        <div class="store-buttons text-center">
          <a href="#" class="btn btn-store first-download-button"><i class="fab fa-google-play"></i> Download</a>
          <a href="#" class="btn btn-store second-download-button"><i class="fab fa-apple"></i> Download</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row mt-4">
      <div class="col-md-6 d-flex">
        <div class="text-content">
          <h2>SET GOALS.</h2>
          <h2>LOG WORKOUTS.</h2>
          <h2>STAY ON TRACK.</h2>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <img src="https://media.istockphoto.com/id/1321090592/photo/young-man-using-mobile-phone-while-exercising-on-treadmill.jpg?s=612x612&w=0&k=20&c=zt3VzvJGiGxI3zdMR1FFO29NKIeRvqgnhh0ZZwtxXKo=" alt="Fitness Image" class="workout-image" max-width="100%">
      </div>
    </div>
  </div>
</main>

<%- include('footer') %>
